<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Webdev!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset('build/app.css')}}">
    </head>
    <body>
    <div class="content">
        <div  class="navbar">
        {% if app.user %}
                <span>Hi {{ app.user.username }}!</span> 
        {% else %}
            <span></span>
        {% endif %}                
           <div class="right">
                <a href="/" style="margin-right:10px"> 
                    <span>Home</span> 
                </a>
                {% if app.user %}
                <a href="/post" style="margin-right:10px"> 
                    <span>Manage</span> 
                 </a>
                 <a href="/logout" style="margin-right:10px"> 
                    <span>Logout</span> 
                 </a>
                {% else %}
                <a href="/login" style="margin-right:10px"> 
                    <span>Login</span> 
                 </a>
                 <a href="/register" style="margin-right:10px"> 
                    <span>Register</span> 
                 </a>
                 {% endif %}  
           </div>
        </div>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{asset('build/app.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
